---
---

@import "{{ site.theme }}";

#resume_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 40px 10px 10px;
  color: #fff;
  background: #0090ff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#resume_banner > span {
  width: 25px;
  padding-left: 10px;
  height: 100%;
  top: 0;
  position: absolute;
  background: url("../images/pdf-outline.png") no-repeat 100% 40%;
  background-size: 25px 25px;
  filter: contrast(0.5) brightness(4);
}
